body {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Raleway', sans-serif;
  // background: #10100e;
  line-height: 1.5;
  // text-align: center;
}

*,
*::after {
  box-sizing: border-box;
}

html{
  margin: 0rem;
  padding: 0;
  font-size: 62.5%;

  @media (max-width: 480px){
    font-size: 55%;
  }
}

