.project-card{
    color: wheat;
    width: 33%;
    height: 30vh;
    background-color: whitesmoke;
}

.logo{
    width: 10rem;
    @media (max-width: 480px){
        width: 8rem;

}
}

.logo:hover{
fill: cadetblue;
}

hr{
    width: 100%;
    height: .1rem;
    background-color: rgb(218, 218, 218);
    border: none;

}
  