main{
    // width: 100%;
    margin: 0rem 24rem;
    display: flex;
    flex-direction: column;

    // @media (max-width: 1280px){
    //     padding: 2rem 14rem;
    //   }

    @media (max-width: 1280px){
        margin: 0rem 14rem;
    }

    @media (max-width: 768px){
        margin: 0rem 6rem;
    }

    @media (max-width: 480px){
        margin: 0rem 2rem;
}
}

section{
    width: 100%;
    background-color: whitesmoke;
    padding-top: 5rem;
}    