.pts-process{
    height: 70vh;
    background-image: url(../img/pts-work-process.png);
    background-size: contain;
    @media (max-width: 480px){
        height: 40vh;
      background-size: cover;


      }
}
.pts-ia{
    height: 60vh;
    background-image: url(../img/ia.pts.svg);
    background-size: contain;
    @media (max-width: 480px){
        height: 45vh;

      }
}

.pts-proto0{
    height: 60vh;
    background-image: url(../img/desk.png);
    background-size: cover;
     @media (max-width: 480px){
        height: 30vh;

      }

}
.pts-proto{
    height: 60vh;
    background-image: url(../img/high-proto-pts.svg);
    background-size: contain;
     @media (max-width: 480px){
        height: 35vh;

      }

}

.pts-proto2{
    height: 60vh;
    background-image: url(../img/laptop.proto.png);
    background-size: cover;
     @media (max-width: 480px){
        height: 22vh;

      }

}

.pts-bold{
    color: rgb(189, 0, 0);
}

